<div class="main-container">
  <div class="title-container">
    <div class="title">
      <h3>Projects</h3>
    </div>
  </div>
  <div class="content">
    <div
      *ngFor="let project of projects$ | async"
      class="list-item"
      [routerLink]="[project.projectId]"
    >
      <div class="project-name">
        {{ project.projectName }} - ID: {{ project.projectId }}
      </div>
    </div>
  </div>
</div>

<h1>Add new Project</h1>
<input type="text" #inputField />
<button (click)="addNewProject(inputField.value)">Add new Project</button>
